{% extends "base.html" %}
{% block content %}

<!-- Tällä sivulla on listattu kaikki valittua genreä edustavat bändit -->

<h1>Genret</h1>

<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Genren nimi</th>
            </tr>
        </thead>
        
        <tbody>
            {% for genre in genret %}
            <tr>
                <td><a href="#">{{genre.nimi}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<a href="http://salailja.users.cs.helsinki.fi/tsoha/genres/new">Lisää genre</a>
{% endblock %}