{% extends "base.html" %}
{% block content %}

<h1>Keikkapaikan nimi</h1>

<div>
    <h2>Viimeiset keikat</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Bändit</th>
                <th>Keikan nimi</th>
                <th>Päivä</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td><a href="#">Bändi</a>,<a href="#">Toinen bändi</a></td>
                <td>Keikka</td>
                <td>Päivämäärä</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}