{% extends "base.html" %}
{% block content %}

<h1>Bändin nimi</h1>

<div class="form-group">
    <label><h3>Keikan nimi</h3></label>
    <input class="form-control" type="text">
</div>
<div class="form-group">
    <label><h3>Keikkapaikan nimi</h3></label>
    <input class="form-control" type="text">
</div>
<div class="form-group">
    <label><h3>Päivä</h3></label>
    <input class="form-control" type="text">
</div>
<div class="form-group">
    <label><h3>Muut bändit</h3></label>
    <input class="form-control" type="text">
</div>


<button class="btn btn-primary">Tallenna</button>

{% endblock %}